.works__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2rem;
}

.works__container {
    display: flex;
    flex-direction: column;
}

.works__grid {
    grid-gap: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
}

.projects-grid {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.projects-grid .pro__1 {
    flex-direction: row;
    gap: 8rem;
    height: 40rem;
    padding: 2rem;
}

.projects-grid .pro {
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    height: auto;
}

.projects-grid .pro__img {
    background-color: hsla(0, 0%, 46%, 0.2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 340px;
    overflow: hidden;
    width: 53rem;
}

.projects-grid .pro__img img {
    height: auto;
    width: 100%;
    transition: transform 10s ease-in-out 0s;
}

.projects-grid .pro__img img:hover {
    transform: translateY(-83%);
}

.projects-grid .pro__text {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 30rem;
}

.projects-grid .pro__text h3 {
    align-items: center;
    color: #2d2e32;
    display: flex;
    font-size: 1.7rem;
    gap: 0.2rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
}

.projects-grid .pro__text p {
    color: #767676;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.stack > p {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000 !important;
    font-family: Mulish, sans-serif !important;
    font-weight: 600 !important;
    padding: 1rem 1.3rem;
}

.projects-grid .pro__text p {
    color: #767676;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

@media screen and (max-width: 992px) {
    .projects-grid .pro {
        margin: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .projects-grid .pro__img {
        width: 45rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .projects-grid .pro {
        flex-direction: column;
        align-items: center;
    }

    .projects-grid .pro__img {
        width: 32rem;
    }
}

@media screen and (max-width: 576px) {
    .projects-grid .pro__img {
        width: 18rem;
        max-height: 214px;
    }

    .projects-grid .pro__text {
        width: 26rem;
    }

    .projects-grid .pro__1 {
        gap: 4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .projects-grid .pro__img {
        width: 15rem;
        max-height: 166px;
    }

    .projects-grid .pro__1 {
        gap: 3rem;
    }
    .projects-grid .pro__text {
        width: 17rem;
    }
}
